.btn:hover {transition: background-color 0.6s;}
.edit-data thead,.edit-data tfoot {
    background: #dff0d8;
}
input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0;
}
.el01 {color:#00f;}
.el02 {background-color:#ddd;}
.el03 {color:#fff; background-color:#33b;}
.el04 {color:#fff; background-color:#33b;}
.el05 {border-width:4px;}
.el06 {border-color:#00f;}
.el07 {border:2px solid #999;}
.el08 {width:30px; height:30px;}
.el08:hover {cursor: pointer;}
.el08n {width:30px; height:30px;}
.el08n:hover {cursor: pointer;}
.el09 {font-size:150%;}
.el10 {font-size:10%;}
.el11 {padding:0;}
.el12 {margin:0;}
.rs {background: #D9EDF7}
.sl {background: #eee}
.nav-btn.btn-info {font-weight: bold; color: #FFF !important; margin-left: 10px;}

 .navbar { min-height:30px;   }
 .navbar .navbar-brand{ padding: 0 12px;font-size: 16px;line-height: 30px;height: 30px; }
 .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 30px; }
 .navbar .navbar-toggle {  margin-top: 3px; margin-bottom: 0px; padding: 8px 9px; }
 .navbar .navbar-form { margin-top: 2px; margin-bottom: 0px }
 .navbar .navbar-collapse {border-color: #A40303;}
 .btn-edit1 {background: #FF656B;}
 .btn-down2, .btn-down1 {background: #222222;}
 b {color: #FF656B;}
 #home-text {background: #565a5c; color: #FFF; position: relative;}
body {background: #f5f5f5;}
#page-name {margin-top: 0;}
.navbar {border: none; background: #f5f5f5;}
.navbar .navbar-nav { display: inline-block; float: none; }
.navbar .navbar-collapse { text-align: center; }
#btn-modal-contact {margin-bottom: 25px; margin-top: 10px;}
.navbar-default .navbar-nav>li>a {color: #FFF;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background: #FF9FA2;
	color: #FFF;
}
.navbar .btn {margin-right: 20px;}
.btn-primary1:hover, .btn-primary1:focus {background: #009aab !important; }
.btn-down1:hover, .btn-down1:focus {background: #777 !important;}
table th { vertical-align: middle !important; }
#page-content {width: 95%; margin: 0 auto; margin-bottom: 50px;}
.borderless td, .borderless th, .borderless div.checkbox { border: none; margin-top: 0; margin-bottom: 0; }
.borderless>tbody>tr>td {border-top: none;}
.text-des {border: 1px solid #ddd; border-radius: 4px;}
.verticalalign {vertical-align: middle !important;}
.btn-scroll {
	float: right;
    display: inline-block;
    padding-top: 10px;
    position: absolute;
    right: 0;
    height: 39px;
    padding: 0 10px;
}
span.icon-bar {
	display: block;
    width: 40px;
    height: 3px;
    background: #007a87;
    margin-bottom: 5px;
}


